<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{block title}{$app_name}{/block}</title>
  {vite("resources/css/app.css")|noescape}
  {block styles}{/block}
</head>
<body>
<button class="btn btn-primary">Click Me</button>

{vite("resources/js/app.js")|noescape}
</body>
</html>
